body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar{
    display:flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    background-color: #452829;
    color:#F4ECE2;
}

.menu{
    display:flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
}

.link{
    display: inline-block;
    border: 2px solid transparent;
    padding:5px;
    transition: transform 0.5s;
}

.link:hover{
    transform: scale(1.15);
    border: 2px solid rgb(115, 117, 118);
    background-color: rgb(250, 250, 7);
    color:#bcb1a9;
    border-radius: 5px;
}

.hero {
    background-color: #57595B;
    background-size: 300% 300%;
    min-height:600px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:200px;
    align-items: center;
}

.hero-img{
    width: 300px;
    max-width: 80%;
    border-radius: 50%;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title{
    text-align: center;
}

.hero-content{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: flex-start;
}

.body-span{
    font-weight: bold;
}

.social{
    margin-top: 10px;
    display: flex;
    gap:20px;
    justify-content: space-around;
    max-width: 200px;
    align-items: center;
}

.toggle {
    display: none;
}

.bar{
    width: 25px;
    height: 3px;
    background-color: rgb(88, 83, 83);
    margin: 4px 0;
    transition: 0.4s;
}

.about-me{
    background-color: #F4ECE2;
}

.about{
    padding:50px;
    display:flex;
    flex-direction: column;
    gap:20px;
    color:#57595B;
    justify-content: center;
    align-items: center;
}

.about p {
    color: #57595B;
    line-height: 1.6;
}

.about-body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}

.flexdiv{
    display:flex;
    justify-content: space-between;
    gap:200px;
    align-items: center;
}

.flexdiv1,
.flexdiv2{
    padding: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}

.skills{
    background-color: #E6D7CC;
}
.skill-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill{
    padding:50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
}

.row1{
    display:flex;
    justify-content: space-between;
    gap: 100px;
    padding: 20px;
    align-items: center;
}

.col-3{
    width:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    margin: 0;
    border:5px solid #452829;
    padding:10px;
}

h3{
    margin:0;
    font-weight: bold;
    text-align: center;
}
h4{
    margin: 0;
}

p{
    font-size: small;
}
.projects{
    background-color: #57595B;
}
.project{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px;
    gap:30px;
}
.project h2{
    color:#F4ECE2;
    border-color: #F4ECE2;
}
.project h3{
    color:#F4ECE2;
}
.project h4{
    color:#F4ECE2;
}
.project p{
    color: #d5d2cd;
    line-height: 1.6;
}
.project-body{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap:200px;
    align-items: center;
}
.project-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:80px;
    align-items: center;
    max-width: 400px;
}
.project-contentin{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project a{
    border:2px solid #F4ECE2;
}
.experience{
    background-color: #F4ECE2;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px;
    gap:30px;
}
.experience h2{
    color: #452829;
    border-color: #452829;
}
.experience h3{
    color:#452829;
}
.experience h4{
    color:#57595B
}
.experience p{
    color:#57595B
}
.experience-body{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:200px;
    margin-top: 40px;
}
.experience-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    
}
.experience-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
}
.experience h4{
    margin-top: 20px;
    text-align: center;
}
.experience p{
    line-height: 1.6;
}
.footer{
    display: flex;
    background-color: #57595B;
    color:#E6D7CC;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.footer p{
    transition:transform 0.5s;
}
.footer p:hover{
    transform: scale(1.15);
    color:#f8dfd0;

}

@media (max-width: 768px){
    .menu{
        display:none;
        width: 100%;
        background-color: #333;
    }

    .toggle{
        display:flex;
        flex-direction: column;
    }

    .link:hover{
        transform: scale(1.3);
        border: 2px solid white;
        background-color: rgb(222, 196, 22);
    }

    .body{
        flex-direction:column; 
        gap:20px;
        padding: 20px;  
    }

    .flexdiv{
        flex-direction: column;
        gap: 40px;
    }


    .row1{
        flex-direction: column;
        gap: 40px;
    }
    .skill-body{
        flex-direction: row;
        gap:100px;
    }
    .project-body{
        flex-direction: column;
        gap:100px;
    }
    .project-content{
        gap:40px;
    }
    .experience-body{
        flex-direction: column;
        gap:100px;
    }

}
